.content {
  width: 75%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .content-container {
  position: relative;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  box-shadow: 3px 3px 15px;
}

.content .content-container form {
  position: relative;
  left: 15%;
  width: 70%;
  height: 100%;
}
.content .content-container legend {
  font-size: 64px;
  font-weight: bold;
  padding-top: 5rem;
  padding-bottom: 10%;
  font-size: 3rem;
}

.content .content-container label {
  font-size: 30px;
  margin-bottom: 10%;
}

.content .content-container button {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 102, 102, 1);
  border-radius: 7px;
  color: white;
  border-style: none;
  font-size: 16px;
}

.content .content-container input {
  margin-top: 8%;
  width: 100%;
  height: 3rem;
  border-radius: 7px;
  background-color: rgba(217, 217, 217, 1);
  padding-left: 3%;
  border-style: none;
  font-size: 16px;
}

.content .content-container #email {
  margin-bottom: 8%;
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
}

.input-icon-wrapper input {
  width: 100%;
  height: 3rem;
  padding-right: 2.5rem;
  padding-bottom: 0;
  border-radius: 7px;
  background-color: rgba(217, 217, 217, 1);
  padding-left: 1rem;
  border: none;
  box-sizing: border-box;
}

.input-icon-wrapper .icons {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translate(5%, 65%);
  font-size: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #333;
  font-size: 1.5rem;
}

.fpass {
  padding-top: 1rem;
  padding-left: 31rem;
  margin-bottom: 4rem;
  font-size: 20px;
}

.noacc {
  font-size: 20px;
  padding-top: 1rem;
}
